body{
    background-color: darkslategrey;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.orange{
    color: orange;
}

.snack{
    color: white;
    margin-top: 50px;
    margin-bottom: 150px;
}

.snack h1{
    text-align: center;
    
}

ol p{
    margin: 0;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.col-4{
    width: calc(100%/12*4);
}