body{
    background-color: rgb(54, 54, 54);
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.orange{
    color: orange;
}

.snack{
    color: white;
    margin-top: 50px;
    margin-bottom: 150px;
}

.snack h1{
    text-align: center;    
}

ol p{
    margin: 0;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.col-4{
    width: calc(100%/12*4);
}


.consegna{
    display: none;
}

.snack-2 p {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(36, 0, 0);
    color: rgb(255, 255, 255);
}

.snack h2{
    margin-top: 80px;
    margin-bottom: 10px;
}


#vip-table{
    text-align: center;
}


table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}


.center{
    display: flex;
    justify-content: center;
}

thead th{
    background-color: rgb(5, 5, 5);
}


tbody > tr:nth-of-type(even) {
    background-color: rgb(0, 7, 37);
}

tbody > tr:nth-of-type(odd) {
    background-color: darkslategrey
}

.bikes-section{
    text-align: center;
}


#my-bike{
    font-size: 30px;
    margin-top: 80px;
}


.football-snack{
    text-align: center;
}

.football-team.flex-box{
    justify-content: center;
}

.football-team p {
    background-color: rgb(186, 255, 186);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 5px 0;
    font-weight: bolder;
    margin: 0;
}

.football-team h3 {
    background-color: rgb(186, 255, 186);
    color: black;
    margin-bottom: 0;
    border: 1px solid black;

}

